<div id="overlay" class="modal">
  <div id="modal-pane">
    <h1>{{runners.action.name}}</h1>
    <h2>{{runners.action.abbrev}}</h2>
    <h3>Advance Runners</h3>
    <table>
      <tbody>
        <tr ng-repeat="runner in advModal.runners">
          <td>{{ runner.player.name }}</td>
          <td>{{ 'BASE_' + runner.start | translate }}</td>
          <td>--></td>
          <td>
            <span ng-if="!runner.modifiable">{{ 'BASE_' + runner.end | translate}}</span>
            <select ng-if="runner.modifiable"
              ng-options="base.num as base.key|translate for base in runner.possibleBases"
              ng-model="runner.end">
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="advModal.close()">Cancel</button>
    <button ng-click="advModal.save()">Save</button>
  </div>
</div>

