<!DOCTYPE html>
<html ng-app="baseball-pbp">
  <head>
    <title>Baseball Play-by-Play</title>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div id="game" ng-controller="GameCtrl as game">
      <div class="home-team" team home-team="game.homeTeam"></div>
      <div class="away-team" team away-team="game.awayTeam"></div>

      <div scoreboard innings="game.innings" current-inning="game.inning" top-inning="game.isInningTop" away-team="game.awayTeam" home-team="game.homeTeam"></div>
      <div baseball-diamond>
        <ul id="batter-positive" class="play-action-buttons">
          <li ng-show="game.outs < 3" ng-repeat="action in game.positiveBatterActions | possiblePlayAction">
            <button ng-click="game.createPlayAction(action)">{{action.abbrev}}</button>
          </li>
        </ul>
        <ul id="pitcher-positive" class="play-action-buttons">
          <li ng-show="game.outs < 3" ng-repeat="action in game.negativeBatterActions | possiblePlayAction">
            <button ng-click="game.createPlayAction(action)">{{action.abbrev}}</button>
          </li>
        </ul>
        <ul id="during-atbat" class="play-action-buttons">
          <li ng-show="game.outs < 3" ng-repeat="action in game.duringAtBatActions | possiblePlayAction">
            <button ng-click="game.createPlayAction(action)">{{action.abbrev}}</button>
          </li>
        </ul>
        <div id="outs-runners">
          <div><span class="state-label">1st</span> {{ game.base(1).player.name }}</div>
          <div><span class="state-label">2nd</span> {{ game.base(2).player.name }}</div>
          <div><span class="state-label">3rd</span> {{ game.base(3).player.name }}</div>
          <div><span class="state-label">Outs:</span> {{ game.outs }}</div>
        </div>
        <button id="next-inning" ng-show="game.outs >= 3" ng-click="game.nextInning()">Next Inning</button>
      </div>

      <div>Pitcher: {{ game.pitcher.name }}</div>

      <ul class="play-action-buttons">
        <li ng-show="game.outs < 3" ng-repeat="action in game.playActions | possiblePlayAction">
          <button ng-click="game.createPlayAction(action)">{{action.abbrev}}</button>
        </li>
        <li>
          <button ng-show="game.outs >= 3" ng-click="game.nextInning()">Next Inning</button>
        </li>
      </ul>

      <div ng-repeat="inning in game.innings">
        <div>
          <h3>{{ $index + 1 }} Top</h3>
          <div at-bat="atBat" play-id="$index"
            ng-repeat="atBat in inning.top.completedAtBats">
          </div>
        </div>
        <div>
          <h3>{{ $index + 1 }} Bottom</h3>
          <div at-bat="atBat" play-id="$index"
            ng-repeat="atBat in inning.bottom.completedAtBats">
          </div>
        </div>
      </div>
      <h6>Game State: {{game.state._state | json }}</h6>
    </div>

    <!-- Vendor -->
    <script src="lib/angular/angular.js"></script>
    <!-- include: "type": "js", "files": "lib/**/!(angular.js).js" -->

    <!-- Modules -->
    <!-- include: "type": "js", "files": "js/**/module.js" -->

    <!-- Components -->
    <!-- include: "type": "js", "files": "js/**/!(module|*-test|app).js" -->
  </body>
</html>

