html, body {
  margin: 0;
  font-family: arial, sans-serif;
}

h4 {
  margin: 0
}

ul.play-action-buttons {
  margin: 0;
  padding: 0;
}

ul.play-action-buttons li {
  display: inline-block;
  padding-right: .25em;
}

div[at-bat] {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  width: 250px;
}

div.diamond-container {
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div[baseball-diamond] {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

div[baseball-diamond] svg {
  padding-bottom: 10%;
}

div[baseball-diamond] .field-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

div[baseball-diamond] .play-action-buttons li {
  display: block;
}

div[baseball-diamond] .play-action-buttons button {
  font-size: 20px;
  margin: 1px;
  margin: 3px;
  width: 75px;
  border: 1px solid black;
  background-color: #eee;
}

div[baseball-diamond] #batter-positive { float: right; }
div[baseball-diamond] #pitcher-positive { float: left; }
div[baseball-diamond] #during-atbat {
  position: absolute;
  bottom: 0;
  right: 0;
}
div[baseball-diamond] #outs-runners {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

div[baseball-diamond] #outs-runners .state-label {
  font-weight: bold;
}

div[baseball-diamond] #during-atbat li {
  display: inline-block;
}

div[baseball-diamond] #next-inning {
  position: absolute;
  bottom: 50%;
  width: 100%;
  font-size: 30px;
}

div[baseball-diamond] .base {
  fill: #000;
  fill-opacity: 1;
  stroke: none;
}

div[baseball-diamond] #inner-diamond {
  fill: none;
  stroke: #777;
  stroke-width: 25;
}

div[baseball-diamond] #field-boundary {
  fill: none;
  stroke: #aaa;
  stroke-width: 1;
}

div[baseball-diamond] .defense-positions {
  font-size: 40px;
  font-family: "Courier"
}

div[scoreboard] table {
  border-collapse: collapse;
  font-size: 25px;
  margin: 1em auto;
}

div[scoreboard] td, div[scoreboard] th {
  margin: 0;
  min-width: 1em;
  height: 20px;
  padding: .25em .5em;
  text-align: center;
}

div[scoreboard] td.inning-score, div[scoreboard] th.inning-score {
  border: 1px solid black;
}

div[scoreboard] td.current-inning {
  border: 2px solid black;
  background-color: #eee;
}

div[team].home-team {
  padding-left: 15%;
  float: left;
}
div[team].away-team {
  padding-right: 15%;
  float: right;
}

div[team] li.batting {
  font-weight: bold;
}

div[team] ul {
  opacity: 0.4;
}

div[team] ul.team-batting, div[team] ul.team-pitching {
  opacity: 1.0;
}

div[team] ul {
  padding: 0;
  margin: 0 0 1em 0;
}

div[team] li {
  margin: 0;
  list-style: none;
}

div[team] h3 {
  margin: 0;
  padding: 0;
}

div[team] .active img, div[team] .active {
  width: 15px;
  display: inline-block;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  padding: 25px;
  background-color: rgba(33,33,33,.7);
  width: 100%;
  height: 100%;
  z-index: 100;
}

#modal-pane {
  position: fixed;
  left: 25%;
  top: 25%;
  padding: 25px;
  border: 2px solid black;
  background-color: rgba(255,255,255,1);
  width: 50%;
  height: 50%;
  z-index: 100;
}

@media screen and (max-width: 1280px) {
  div[team].home-team, div[team].away-team {
    padding: 0;
  }
  div[baseball-diamond] {
    width: 55%;
  }
  div[scoreboard] td, div[scoreboard] th {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  div[team].home-team, div[team].away-team {
    display: none;
  }

  div.diamond-container {
    min-width: 480px;
  }

  div[baseball-diamond] {
    width: 70%;
  }

  div[scoreboard] td, div[scoreboard] th {
    padding: 0;
    min-width: .25em;
  }
}
