<h3>{{ team.name }}</h3>
<ul ng-class="{ 'team-batting': isBatting }">
  <li ng-repeat="hitter in team.lineup"
    ng-class= "{ batting: ($index == team.batterIndex) }">
    <span class="active">
      <img ng-if="$index == team.batterIndex" src="img/bat.svg"/>
    </span>
    {{ $index + 1 }}. {{ hitter.name }} ({{ hitter.position }})
  </li>
</ul>
<ul ng-class="{ 'team-pitching': !isBatting }">
  <li>
    <span class="active">
      <img ng-if="!isBatting" src="img/baseball.svg" />
    </span>
    {{ team.pitcher.name }} (P)
  </li>
</ul>
