<div id="overlay" class="modal">
  <div id="modal-pane">
    <h1>{{runners.action.name}}</h1>
    <h2>{{runners.action.abbrev}}</h2>
    <h3>Advance Runners</h3>
    <table>
      <tbody>
        <tr ng-repeat="runner in runners.runnerPrefs">
          <td>{{ runner.player.name }}</td>
          <td>{{ runners.baseToString[runner.start] }}</td>
          <td>--></td>
          <td>
            <span ng-if="!runner.modifiable">{{runners.baseToString[runner.end]}}</span>
            <select ng-if="runner.modifiable"
              ng-options="base.num as base.name for base in runner.possibleBases"
              ng-model="runner.end">
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="runners.close()">Cancel</button>
    <button ng-click="runners.save()">Save</button>
  </div>
</div>

